{% extends "base.html.twig" %}

{% block content %}
    <div class="articles">
        <div class="title-articles">{{ article.title }}</div>
        <img height="200px" width="200px" src="{{ asset(article.urlImage) }}" alt="Example" />
        <span >
            <p class="articles-descr">{{ article.description }}</p>
        </span>
        <div class="date-more">
            <span class="articles-publish-date">{{ article.publishedDate | date('Y/m/d') }}</span>
        </div>
    </div>
{% endblock content %}