{% extends "base.html.twig" %}

{% block content %}
    <div class="content">
        <div class="main-center">
            <table class="center-link" cellspacing="3" cellpadding="0" width ="280" align="center">
                <tr class="tr">
                    <td>
                        {% image '@SiteBundle/Resources/public/images/alcogol.jpg' %}
                        <a href="{{ path('alcohol') }}">
                            <img height="100px" width="100px" src="{{ asset_url }}" alt="Example" />
                        </a>
                        {% endimage %}
                    </td>
                    <td>
                        {% image '@SiteBundle/Resources/public/images/banks.jpg' %}
                        <a href="javascript:void(0)">
                            <img height="100px" width="100px" src="{{ asset_url }}" alt="Example" />
                        </a>
                        {% endimage %}
                    </td>
                </tr>
                <tr class="tr">
                    <td>
                        {% image '@SiteBundle/Resources/public/images/broken_glass.jpg' %}
                        <a href="javascript:void(0)">
                            <img height="100px" width="100px" src="{{ asset_url }}" alt="Example" />
                        </a>
                        {% endimage %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}