.wrap {
    float:left;
    width: 40%;
    border-radius: 5px;
    margin-left: 30%;
}

div .title {
    color: #AAB4B8;
    text-align: center;
}

div .shortDescription {
    color: #686DA8;
    margin-top: 10px;
    padding: 3px;
    text-align: left;
}

div #more {
    margin-left: 80%;
    display: inline-block;
    background: rgba(255,255,255,.2);
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    transition: 0.2s;
    margin-bottom: 2px;
    font-family: Comic Sans MS;
}

div #more:hover { 
    background: #5E6263; 
    color: #000;
}
div #more:active { background: white; }
